.game {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.game__window {
    width: 100vw;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.game__button {
    font-size: 1.4rem;
    font-weight: bold;

    height: 7rem;
    width: 13rem;
}

.game__click-count {
    font-size: 6rem;
}

.game__timer {
    font-size: 4rem;
}
